
.main {
    display: flex;
    width: 50%;
    border: 5px black solid;
  }
  
  .text {
    flex: 1;
    margin: 80px;
    border: 5px red solid;
  }
  
  .image {
    margin-right: 20px;
    border: 5px blue solid;
  }

#image {
  width: 1000px;
 
}