@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
*{
  margin: 0;
	padding: 0;
	border: 0;
}

.main {
    display: flex;
    border: 5px black solid;
    font-family: 'Fugaz One', cursive;
  }
  
  .text {

    flex: 1;
    margin: 40px;
    border: 5px red solid;
    text-align: center;
    padding-top: 8em;
    font-size: 20px;
  }
  
 .img{
  margin: 40px;
  border: 5px green solid;
 }

 img{
   width: 80%;
 }
 
 button{
   margin: 50px;
 }

 p, h2{
  margin: 5px;
}

ul{
  list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

li{
  display: inline;
  min-width: 5em;
  margin: 3em;
  font-size: 20px;
}