@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

*{
  margin: 0;
	padding: 0;
	border: 0;
}

.main {
    display: flex;
    font-family: 'Fugaz One', cursive;
  }
  
  .text {

    flex: 1;
    margin: 40px;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    padding-top: 8em;
    font-size: 25px;
  }
  
 .img{
  margin: 40px;

 }

 img{
   width: 80%;
 }
 
 button{
   margin: 50px;
 }

 p, h2{
  margin: 5px;
}
.menu{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  
}
ul{
list-style-type: none;
margin-left: 100px;
padding-top: 60px;
}

a {
  text-decoration: none;
  color: black; 
  font-family: 'Fugaz One', cursive;
  font-size: 30px;
  margin: 10px;
}

li{
  display: inline;
  min-width: 5em;
  margin: 4em;
  font-size: 30px;
}

#logo{
  width: 100px;
  height: 100px;
}


button{
  color: #fff;
  background: #000;
  height: 55px;
  width: 180px;
  border-radius: 5px;
}

button:hover{
  color: #000;
  background-color: #fff;

  border-radius: 5px;
  border: 3px #000 solid;
}

